[user]
name = "Sam Rowe"
email = "sgrowe@live.co.uk"

[ui]
default-command = [
    "log",
    "-r",
    "trunk() | (trunk():: & mine())"
]

diff-editor = ":builtin"

# Delta
# pager = "delta"
# diff-formatter = ":git"

# Difftastic
diff-formatter = ["difft", "--color=always", "$left", "$right"]

[remotes.origin]
auto-track-bookmarks = "glob:* ~ next"

[git]
# Prevent pushing anything explicitly labeled "private"
private-commits = "description(glob:'private:*')"

[revsets]
log = 'present(@) | ancestors((immutable_heads() | present(next@origin)).., 2) | present(trunk())'

[revset-aliases]
"immutable_heads()" = "builtin_immutable_heads() & ~present(next@origin)"
'closest_bookmark(to)' = 'heads(::to & bookmarks()) & ~trunk()'

[templates]
log = "builtin_log_comfortable"
git_push_bookmark = '"sgrowe/push-" ++ change_id.short()'

[template-aliases]
# Relative timestamp rendered as "x days/hours/seconds ago"
'format_timestamp(timestamp)' = 'timestamp.ago()'

# Name, fixed width
# 'format_short_signature(signature)' = 'truncate_end(15, pad_end(15, signature.name()))'

# Just the first part of the email address, fixed width
'format_short_signature(signature)' = 'truncate_end(12, pad_end(12, signature.email().local()))'

# Don't bother showing the full change ID in the logs
'format_short_change_id(id)' = 'pad_end(6, id.shortest())'


[snapshot]
auto-update-stale = true


[fix.tools.fish]
command = ["fish", "--command=fish_indent"]
patterns = ["glob:'**/*.fish'"]

[fix.tools.prettier]
command = ["pnpm", "exec", "prettier", "--stdin-filepath=$path"]
patterns = [
    "glob:'**/*.js'",
    "glob:'**/*.jsx'",
    "glob:'**/*.ts'",
    "glob:'**/*.tsx'",
    "glob:'**/*.json'",
]

[fix.tools.rustfmt]
command = ["rustfmt"]
patterns = ["glob:'**/*.rs'"]

[fix.tools.app_client_rescript]
command = ["pnpm", "exec", "rescript", "format", "-stdin", ".res"]
patterns = ["glob:'app/client/**/*.res'"]
