*

!.gitignore

!/fish/

!/sam_misc/
!/sam_misc/**/*

!/zed/

!/jj/
!/jj/**/*

!/skhd
!/skhd/skhdrc

!/zellij
!/zellij/**/*

# Codex
!/codex/
!/codex/**
AGENTS.md

!CLAUDE.md
!.claude/
!.claude/**

!/.github/
!/.github/**
