name: Fish Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up fish environment
        run: |
          mkdir -p ~/.config

          ln -s ${{ github.workspace }}/fish ~/.config/fish

          sudo add-apt-repository -y ppa:fish-shell/release-4

          sudo apt update -y
          sudo apt install -y fish ripgrep fzf

          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          brew install jj
          echo "$(brew --prefix)/bin" >> $GITHUB_PATH

          fish -c 'fisher update'

      - name: Run fish tests
        run: ./codex/test.fish
